%tr
  %td= event.id
  %td= event.user_id
  %td= event.session_id
  %td= event.request_url
  %td= event.referrer_url
  %td= event.request_user_agent
  %td= event.created_at.in_time_zone('Pacific Time (US & Canada)').strftime('%B %d, %Y %I:%M %p %Z')
  %td= event.timezone
