#events.white-box
  .title= "Events (#{@events.count})"

  = link_to 'Filtered', events_path
  = '|'
  = link_to 'View All', events_path(all: true)
  %table.table.table-condensed.table-bordered
    %thead
      %tr
        %th ID
        %th User
        %th Session ID
        %th Request URL
        %th Referrer URL
        %th Request User Agent
        %th Date
    %thead
      = render @events

  .text-center= will_paginate @events
:css
  #left {
    width: 100% !important;
  }
  #right {
    display: none;
  }
