%article.post-item
  = link_to '', post_path(post), remote: true, class: enable_link(@disable_link), style: "background-image: url(#{post.header_image})"
  .title-container
    .tags= display_tags(post.tags).join(', ').html_safe
    .title= link_to post.title, post_path(post)
    %time= post.humanized_post_date
    - if current_user
      %div
        = link_to 'Edit', edit_post_path(post), target: '_blank'
        |
        = post.humanized_status
