%article
  %h4= post.title
  %time= post.humanized_post_date
  %p= post.humanized_body
  %p= display_tags(post.tags)
- if current_user
  = "(#{post.humanized_status})"
  = link_to 'Edit post', edit_post_path(post)
  = link_to 'View post', post_path(post)
