%article.post.white-box
  .title-wrapper
    .title= link_to post.title, post_path(post)
    %time
      = post.humanized_post_date
      - unless post.tags.empty?
        = '/'
        = display_tags(post.tags).join(', ').html_safe
  .body
    - if @truncate && post.humanized_body.length > 250
      = post.humanized_body_truncated
    - else
      = post.humanized_body
  - if current_user
    .admin-buttons
      = post.humanized_status
      = '|'
      = link_to 'Edit post', edit_post_path(post)
      = '|'
      = link_to 'View post', post_path(post)
