.white-box
  .title-wrapper
    .title= @post.new_record? ? 'New Post' : "Edit #{@post.title}"
  .body
    = form_for @post do |f|
      .form-group
        = f.label :title
        = f.text_field :title, class: 'form-control'
      .form-group
        = f.label :body
        = f.text_area :body, rows: 5, cols: 100, class: 'form-control'
      .form-group
        = f.label :status
        = f.select :status, options_for_select(post_status_options, @post.status), class: 'form-control'
      .form-group
        = f.label :post_date
        = f.text_field :post_date, value: set_post_date(@post), type: 'datetime-local', class: 'form-control'
      .form-group
        = f.label :tag_list
        = f.text_field :tag_list, class: 'form-control'
      .form-group
        = f.submit nil, class: 'btn btn-primary'
.white-box.text-center
  - if @post.persisted?
    = link_to 'View Post', post_path(@post), target: '_blank'
    = '|'
  = link_to 'View All Posts', posts_path, target: '_blank'
  = '|'
  = link_to 'View All Images', photos_path, target: '_blank'
