!!!
%html
  %head
    %title= @title ? "Twinkie and Karen | #{@title}" : "Twinkie and Karen"
    %link{:href => "//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i", :rel => "stylesheet"}/
    %script{:src => "https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/

    :javascript
      TwinkieandKaren.PER_PAGE = "#{Post::PER_PAGE}"

%body
  #root
